<h1 *ngIf="isAddMode">Create Booking Profile</h1>
<h1 *ngIf="!isAddMode">Enter Details</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label>Title</label>
            <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                <option value=""></option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
                <option value="Ms">Ms</option>
            </select>
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-7">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Role</label>
            <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                <option value=""></option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Role is required</div>
            </div>
        </div>
    </div>
     <div class="form-row">
        <div class="form-group col-7">
            <label>Cellphone Number</label>
            <input type="text" formControlName="numb" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numb.errors }" />
            <div *ngIf="submitted && f.numb.errors" class="invalid-feedback">
                <div *ngIf="f.numb.errors.required">Email is required</div>
            </div>
        </div>
     </div>
        <h5>Please enter your room details</h5>
   
    <div class="form-row">
        <div class="form-group col">
            <label>Number of Occupants</label>
            <select formControlName="occup" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.occup.errors }">
              <option value="occup">1 </option>
                <option value="occup">2 </option>
                <option value="occup">3 </option>
                <option value="occup">4 </option>
                <option value="occup">5 +</option>
            </select>
            <div *ngIf="submitted && f.occup.errors" class="invalid-feedback">
                <div *ngIf="f.occup.errors.required">Pupil info is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Number of Rooms</label>
            <select formControlName="room" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.room.errors }">
                <option value="room">1 room</option>
                <option value="room">2 rooms</option>
                <option value="room">3 rooms</option>
                <option value="room">4 rooms</option>
                <option value="room">5 rooms +</option>
            </select>
            <div *ngIf="submitted && f.room.errors" class="invalid-feedback">
                <div *ngIf="f.room.errors.required">Room info is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Days Required</label>
            <select formControlName="days" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.days.errors }">
                <option value="days">1 night</option>
                <option value="days">2 nights</option>
                <option value="days">3 nights</option>
                <option value="days">4 nights</option>
                <option value="days">5 nigths +</option>
                
            </select>
            <div *ngIf="submitted && f.days.errors" class="invalid-feedback">
                <div *ngIf="f.days.errors.required">Days is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Catering </label>
            <select formControlName="cate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cate.errors }">
                <option value=""></option>
                <option value="cate">Self-Catering</option>
                <option value="cate">Room Service</option>
            </select>
            <div *ngIf="submitted && f.cate.errors" class="invalid-feedback">
                <div *ngIf="f.cate.errors.required">Service info is required</div>
            </div>
        </div>
    </div>



    <div *ngIf="!isAddMode">
        <h3 class="pt-3">Please Add Your Card Details</h3>
        <p>Details will remain secure</p>
         <div class="form-row">
        <div class="form-group col-5">
            <label>Card Number</label>
            <input type="text" formControlName="card" class="form-control" />
            </div>
        <div class="form-group col-5">
            <label>Card Expiry</label>
            <input type="text" formControlName="exp" class="form-control" />
            </div>
        </div>
  <div class="form-row">
        <div class="form-group col-5">
            <label>Cvv</label>
            <input type="text" formControlName="cvv" class="form-control" />
            </div>
        </div>
    </div>
    <h5>Please create a password</h5>
    <div class="form-row">
        <div class="form-group col">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
      
        <div class="form-group col">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
    </div> 
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>